---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import Hero from "../../components/Hero.astro";
import Features from "../../components/Features.astro";
import DownloadApp from "../../components/DownloadApp.astro";
import ContactUs from "../../components/ContactUs.astro";
import Footer from "../../components/Footer.astro";

import { Image } from "astro:assets";

import left_blob from "../../assets/background_blob_left.svg";
import right_blob from "../../assets/background_blob_right.svg";
---

<Layout title="Brendo">
  <Image
    loading={"eager"}
    class=`z-[-1] absolute max-w-[50%] top-0 right-0  object-cover m-0 p-0 border-0 border-violet-800`
    src={right_blob}
    widths={[right_blob.width]}
    sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${right_blob.width}px`}
    alt="Background shape 1"
  />

  <Image
    class="overflow-hidden z-[-1] absolute max-w-[50%] md:hidden top-[20%] flex left-0 object-cover border-0 border-violet-800"
    src={left_blob}
    widths={[left_blob.width]}
    sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${left_blob.width}px`}
    alt="Background shape 2"
  />
  <Image
    class=`z-[-1] absolute max-w-[50%]  right-0 md:hidden top-[50%]  object-cover m-0 p-0 border-0 border-violet-800`
    src={right_blob}
    widths={[right_blob.width]}
    sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${right_blob.width}px`}
    alt="Background shape 3"
  />

  <Image
    loading={"eager"}
    class="overflow-hidden z-[-1] absolute max-w-[50%] flex bottom-0 left-0 object-cover border-0 border-violet-800"
    src={left_blob}
    widths={[left_blob.width]}
    sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${left_blob.width}px`}
    alt="Background shape 4"
  />
  <Header />
  <main class="flex flex-col max-container padding-x min-h-full border-0 pt-16 border-violet-700 w-full bg-transparent">
    <Hero />
    <Features />
    <DownloadApp />
    <!-- <ContactUs /> -->
  </main>
  <Footer />
</Layout>
